<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>halit ince web teknolojileri odev</title>

	
	<link href="css/stilim.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

	<!-- Modules -->
    <script src="js/app.js"></script>
	<!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
	
	
  </head>

  <body  ng-app="myApp" ng-controller="MainController">
  
	


	<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">{{ title1 }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
		  
            <li class="nav-item">
              <a class="nav-link" href="haberler.html">Haberler</a>
            </li>
			
            <li class="nav-item">
              <a class="nav-link" href="yorumlar.html">Yorumlar</a>
            </li>
			
            <li class="nav-item">
              <a class="nav-link" href="kayıt.html">Kullanıcı Girişi</a>
            </li>
            
			
           
			
            
			
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
		
        <div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://s-i.huffpost.com/gen/4499664/thumbs/o-PORTUGAL-EURO-CUP-2016-570.jpg?11')">
            <div class="carousel-caption d-none d-md-block">
              <h3> Portekiz Tarihinde ilk kez şampiyon oldu</h3>
              <p>Portekiz, Fransa'da düzenlenen EURO 2016 finalinde Fransa'yı 1-0 yendi ve Avrupa şampiyonu oldu. 
			  Tarihinde ilk kez bu başarıya ulaşan Portekiz'de Ronaldo gözyaşlarını tutamadı..</p>
            </div>
          </div>
		
		<!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://previews.123rf.com/images/yhim/yhim1606/yhim160600095/67480313-portugal-and-republic-of-iceland-flags-in-a-soccer-balls-isolated-on-football-background-flag-web-bu.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Portekiz'in EURO 2016 kadrosu açıklandı</h3>
              <p>Fransa'nın ev sahipliğinde 10 Haziran-10 Temmuz'da düzenlenecek 2016 Avrupa Futbol Şampiyonası'nda (EURO 2016) 
			  mücadele edecek Portekiz Milli Takımı'nın kadrosu açıklandı..</p>
            </div>
          </div>
		  
		  
		  <!-- Slide Four - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://www.irishtimes.com/polopoly_fs/1.2660165.1464175824!/image/image.jpg_gen/derivatives/box_620_330/image.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>EURO 2016'da Portekiz penaltılarla yarı finalde</h3>
              <p>Portekiz, normal süresi ve uzatmaları 1-1 biten maçta Polonya'yı penaltılarda 5-3 mağlup ederek tur atladı..</p>
            </div>
          </div>
		  
		  
		  <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://i2-prod.mirror.co.uk/incoming/article8393034.ece/ALTERNATES/s615b/Euro-2016-Final-Portugal-v-France.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Ronaldo'nun gözyaşları! Finalde sakatlandı...</h3>
              <p>Ronaldo, Fransa ile oynanan EURO 2016 finalinde sakatlandı ve maça devam edemedi..</p>
            </div>
          </div>
		  
		  
          
          
          
        </div>
		
		
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
	<div ng-controller="MainController">
    <div class="container" >

      <h1 class="my-4">  {{ title2 }}</h1>

      
      <div class="row">
        <div class="col-lg-4 mb-4" ng-repeat= "haber in haberler">
          <div class="card h-100">
            <h4 class="card-header"> {{ haber.baslik | uppercase}} </h4>
            <div class="card-body">
              <p class="card-text"> {{ haber.giris }} </p>
            </div>
            <div class="card-footer">
              <a href="{{haber.linkk}}" class="btn btn-primary">Devamı</a>
            </div>
          </div>
        </div>
		
		
		
      </div>
	</div>
      <!-- /.row -->

     <div class="container">

      <h1 class="my-4">{{ title3 }}</h1>
      <div class="row">
        <div class="col-lg-6 mb-6" ng-repeat= "yorum in yorumlar">
          <div class="card h-100">
            <h4 class="card-header"> {{ yorum.baslik }} </h4>
            <div class="card-body">
              <p class="card-text">{{ yorum.giris }}</p>
            </div>
            <div class="card-footer">
              <a href="{{yorum.linkk}}" class="btn btn-primary">Devamı</a>
            </div>
          </div>
        </div>
		
     
        
      </div>
	  </div>
	</div>
      <!-- /.row -->

     <hr>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
  </body>

</html>
